<mat-toolbar color="primary">
  <span>OCR Data Processing</span>
  <span class="spacer"></span>
  Reload data:
  <button mat-icon-button >Toggle
<!--  <button mat-icon-button (click)="clickToggle$.next()">Toggle-->
    <mat-icon>toggle</mat-icon>
  </button>
  <button mat-icon-button >
<!--  <button mat-icon-button (click)="refresh()">-->
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<mat-paginator #paginator
               [length]="1000"
               [pageSize]="30"
               (page)="pageEvent($event)"
               [pageSizeOptions]="[25, 50, 100, 250]"
>
</mat-paginator>

<div class="container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="albumId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>AlbumId</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.albumId}}</mat-cell>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" mat-cell *matCellDef="let row">{{row.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Url</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.url}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="thumbnailUrl">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ThumbnailUrl</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.thumbnailUrl}}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [@state]="row.title"></mat-row>
  </mat-table>

<!--    [length]="dataSource.data.length"-->
<!--    [pageIndex]="0"-->
</div>
